In [1]:
# from bs4 import BeautifulSoup
import pandas as pd
# import xmltodict
import json
import os

In [2]:
BASE_URL = 'https://opendata.camara.cl'
WS_URL = BASE_URL+'/camaradiputados/WServices/WSLegislativo.asmx'

DATA_PATH = os.path.join('..', 'data')
SAVE_PATH = os.path.join(DATA_PATH, 'datos-abiertos')

RANGE = range(2002, 2026)

data = dict()

In [3]:
# name = 'votaciones'
# endpoint = '/retornarVotacionesXAnno?prmAnno={year}'

# data[name] = {}
# for year in tqdm(RANGE):
#     r = requests.get(WS_URL+endpoint.format(year=year))
#     data_r = xmltodict.parse(r.content)['VotacionesColeccion']['Votacion']
#     data[name][str(year)] = data_r
# with open(os.path.join(SAVE_PATH, name+'.json'), 'w', encoding='utf-8') as f:
#     json.dump(data[name], f, indent=4, ensure_ascii=False)

# with open(os.path.join(SAVE_PATH, name+'.json'), encoding='utf-8') as f:
#     data[name] = json.load(f)

In [4]:
# name = 'votos'
# endpoint = '/retornarVotacionDetalle?prmVotacionId={votacion_id}'

# data[name] = {}
# errors = list()
# for year in RANGE:
#     if os.path.exists(os.path.join(SAVE_PATH, 'votos', f'{year}.json')):
#         with open(os.path.join(SAVE_PATH, 'votos', f'{year}.json'), encoding='utf-8') as f:
#             data[name][str(year)] = json.load(f)
#     else:
#         data[name][str(year)] = dict()
#     print(f'Downloading year={year}...')
#     for i, votacion in tqdm(enumerate(data['votaciones'][str(year)])):
#         try:
#             votacion_id = votacion['Id']
#             if str(votacion_id) in data[name][str(year)]:
#                 continue
#             r = requests.get(WS_URL+endpoint.format(votacion_id=votacion_id))
#             data_r = xmltodict.parse(r.content)['Votacion']['Votos']
#             if isinstance(data_r, list):
#                 data[name][str(year)][votacion_id] = data_r
#             elif isinstance(data_r, dict):
#                 data[name][str(year)][votacion_id] = data_r['Voto']
#             else:
#                 data[name][str(year)][votacion_id] = data_r
#             if i % 50 == 0:
#                 save_path = os.path.join(SAVE_PATH, name, f'{year}.json')
#                 with open(save_path, 'w', encoding='utf-8') as f:
#                     json.dump(data[name][str(year)], f, indent=4, ensure_ascii=False)
#         except Exception as e:
#             print(f'Error in year={year}, votacion_id={votacion_id}')
#             errors.append((year, votacion_id))
#     save_path = os.path.join(SAVE_PATH, name, f'{year}.json')
#     with open(save_path, 'w', encoding='utf-8') as f:
#         json.dump(data[name][str(year)], f, indent=4, ensure_ascii=False)

In [5]:
# votacion_datos = list()
# votos_datos = list()
# diputados_datos = list()

# for year in RANGE:
#     for votacion in data.get('votaciones', {}).get(str(year), list()):
#         votacion_id = votacion.get('Id')
#         votos = data.get('votos', {}).get(str(year), {}).get(votacion_id)
#         votacion_datos.append({
#             'year': year,
#             'id': votacion_id,
#             'descripcion': votacion.get('Descripcion'),
#             'fecha': votacion.get('Fecha'),
#             'total_si': votacion.get('TotalSi'),
#             'total_no': votacion.get('TotalNo'),
#             'total_abstencion': votacion.get('TotalAbstencion'),
#             'total_dispensado': votacion.get('TotalDispensado'),
#             'quorum': votacion.get('Quorum', {}).get('@Valor'),
#             'quorum_desc': votacion.get('Quorum', {}).get('#text'),
#             'resultado': votacion.get('Resultado', {}).get('@Valor'),
#             'resultado_desc': votacion.get('Resultado', {}).get('#text'),
#             'tipo': votacion.get('Tipo', {}).get('@Valor'),
#             'tipo_desc': votacion.get('Tipo', {}).get('#text'),
#         })
#         if votos is None:
#             continue
#         for voto in votos:
#             votos_datos.append({
#                 'votacion_id': votacion_id,
#                 'diputado_id': voto.get('Diputado', {}).get('Id'),
#                 'voto': voto.get('OpcionVoto', {}).get('@Valor'),
#                 'voto_desc': voto.get('OpcionVoto', {}).get('#text'),
#             })
#             diputados_datos.append({
#                 'id': voto.get('Diputado', {}).get('Id'),
#                 'nombre': voto.get('Diputado', {}).get('Nombre'),
#                 'apellido_paterno': voto.get('Diputado', {}).get('ApellidoPaterno'),
#                 'apellido_materno': voto.get('Diputado', {}).get('ApellidoMaterno'),
#             })

In [6]:
with open(os.path.join(DATA_PATH, 'diccionario.json'), encoding='utf-8') as f:
    diccionario = json.load(f)
for key, value in diccionario.items():
    for i, v in value.items():
        print(f'- {key} ({i}): {v}')

- votos (En Contra): 0
- votos (Afirmativo): 1
- votos (Abstención): 2
- votos (Dispensado): 3
- quorum (Sin Información): 0
- quorum (Quórum Simple): 1
- quorum (Quórum Calificado): 2
- quorum (Reforma Constitucional 2/3): 3
- quorum (Reforma Constitucional 3/5): 4
- quorum (Ley Orgánica Constitucional): 5
- quorum (3/5): 7
- quorum (2/3): 10
- quorum (1/3): 9
- resultados (Sin Información): 0
- resultados (Aprobado): 1
- resultados (Unánime): 2
- resultados (Empate): 3
- resultados (Sin Quórum): 4
- tipos (Sin Información): 0
- tipos (Proyecto de Ley): 1
- tipos (Proyecto de Resolución): 2
- tipos (Proyecto de Acuerdo): 3
- tipos (Otros): 4

In [7]:
# votacion_df = pd.DataFrame(votacion_datos)
# votacion_df.year = votacion_df.year.astype(np.uint16)
# votacion_df.id = votacion_df.id.astype(np.uint16)
# votacion_df.fecha = pd.to_datetime(votacion_df.fecha)
# votacion_df.total_si = votacion_df.total_si.astype(np.uint8)
# votacion_df.total_no = votacion_df.total_no.astype(np.uint8)
# votacion_df.total_abstencion = votacion_df.total_abstencion.astype(np.uint8)
# votacion_df.total_dispensado = votacion_df.total_dispensado.astype(np.uint8)
# votacion_df.quorum = votacion_df.quorum.fillna(0).astype(np.uint8)
# votacion_df.resultado = votacion_df.resultado.fillna(0).astype(np.uint8)
# votacion_df.tipo = votacion_df.tipo.fillna(0).astype(np.uint8)
# votacion_df.descripcion = votacion_df.descripcion.str.strip()
# votacion_df.drop(
#     columns=['quorum_desc', 'resultado_desc', 'tipo_desc'], inplace=True, errors='ignore'
# )
# votacion_df.sort_values(by=['id'], inplace=True)
# votacion_df.reset_index(drop=True, inplace=True)
# votacion_df.to_parquet(os.path.join(DATA_PATH, 'votaciones.parquet'), index=False)

In [8]:
# votos_df = pd.DataFrame(votos_datos)
# votos_df.votacion_id = votos_df.votacion_id.astype(np.uint16)
# votos_df.diputado_id = votos_df.diputado_id.astype(np.uint16)
# votos_df.voto = votos_df.voto.astype(np.uint8)
# votos_df.drop(columns=['voto_desc'], inplace=True)
# votos_df.sort_values(by=['votacion_id', 'diputado_id'], inplace=True)
# votos_df.reset_index(drop=True, inplace=True)
# votos_df.to_parquet(os.path.join(DATA_PATH, 'votos.parquet'), index=False)

In [9]:
# diputados_df = pd.DataFrame(diputados_datos)
# diputados_df.drop_duplicates(subset=['id'], inplace=True)
# diputados_df.id = diputados_df.id.astype(np.uint16)
# diputados_df.reset_index(drop=True, inplace=True)
# diputados_df.to_parquet(os.path.join(DATA_PATH, 'diputados.parquet'), index=False)

In [10]:
votacion_df = pd.read_parquet(os.path.join(DATA_PATH, 'votaciones.parquet'))
votacion_df

,year,descripcion,fecha,total_si,total_no,total_abstencion,total_dispensado,quorum,resultado,tipo
id,,,,,,,,,,
1282,2002,Boletín N° 1625-03,2002-03-19 11:28:05,48,10,6,0,1,0,1
1287,2002,Boletín N° 2839-04,2002-03-20 12:25:40,47,43,2,0,1,0,1
1288,2002,Boletín N° 2839-04,2002-03-20 12:26:55,53,44,3,0,1,0,1
1289,2002,Boletín N° 2839-04,2002-03-20 12:33:31,98,1,2,0,1,0,1
1291,2002,INFORME COMISION INVESTIGADORA-Proposición int...,2002-03-20 12:55:19,69,0,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...
45119,2025,Boletín N° 15936-18,2025-01-22 13:48:33,98,26,18,0,1,1,1
45120,2025,Boletín N° 16834-07,2025-01-22 13:50:10,108,18,16,0,1,1,1
45121,2025,Boletín N° 17195-25,2025-01-22 13:52:16,142,0,0,0,1,1,1
45125,2025,OTROS-Solicitud de la Comisión de Recursos Híd...,2025-01-22 15:36:15,59,11,3,0,1,1,4
45126,2025,Proyecto de Acuerdo N° 39,2025-01-22 18:47:54,50,41,4,0,1,1,3

In [11]:
votos_df = pd.read_parquet(os.path.join(DATA_PATH, 'votos.parquet'))
votos_df

         votacion_id  diputado_id  voto
0               1282          132     1
1               1282          140     1
2               1282          151     1
3               1282          155     1
4               1282          164     1
...              ...          ...   ...
2532672        45126         1177     0
2532673        45126         1178     0
2532674        45126         1182     1
2532675        45126         1183     1
2532676        45126         1184     1

[2532677 rows x 3 columns]

In [12]:
diputados_df = pd.read_parquet(os.path.join(DATA_PATH, 'diputados.parquet'))
diputados_df

         nombre apellido_paterno apellido_materno
id
74        Jaime          Naranjo            Ortiz
132   Francisco             Bayo           Veloso
137      Eliana         Caraball         Martínez
140    Patricio          Cornejo     Vidaurrázaga
150      Camilo         Escalona           Medina
...         ...              ...              ...
1180   Consuelo           Veloso            Ávila
1181     Nelson          Venegas          Salazar
1182  Sebastián           Videla         Castillo
1183       Flor           Weisse            Novoa
1184    Roberto          Celedón        Fernández

[429 rows x 3 columns]